<!DOCTYPE html>
<html>
	<head>
		<% include ../partials/head.ejs %>
		<script src="/app.js" charset="utf-8"></script>
	</head>
	<body>
		<nav>
			<div class="nav-wrapper teal lighten-2">
				<a href="#" onclick="sidebar()" class="sidenav-trigger show-on-large" data-target="slide_out"><i class="material-icons">menu</i></a>
				<div class="container center-align">
					<a href="/main" class="brand-logo right">Fuel Tracker</a>
				</div>
			</div>
			<ul class="sidenav" id="slide_out">
				<div class="teal lighten-2 gasIconContainer">
					<i class="material-icons gasIcon">local_gas_station</i>
				</div>
				<div class="sideNavButtonContainer">
					<li class="active sideNavButton"><a href="/main"><i class="material-icons">home</i>Home</a></li>
					<li class="active sideNavButton"><a href="/main/new"><i class="material-icons">add</i>Log Fuel</a></li>
					<li class="active sideNavButton"><a href="/users/<%=currentUser.username%>"><i class="material-icons">account_box</i>Profile</a></li>
					<li class="active sideNavButton"><a href="/main/map"><i class="material-icons">map</i>Maps</a></li>
					<form class="logout" action="/users?_method=DELETE" method="POST">
						<li class="active sideNavButton"><a href="#" onclick="logout()"><i class="material-icons">cancel</i>Log Out</a></li>
					</form>
				</div>
			</ul>
		</nav>

		<div class="container">
			<input type="text" id="autocomplete" placeholder="Enter City Here">
			<div id="map"></div>
		</div>

		<div class="tooltip">
			<div id="info-content">
				<table>
					<tr>
						<td id="locName"></td>
					</tr>
					<tr>
						<td>Address:</td>
						<td id="address"></td>
					</tr>
				</table>
			</div>
		</div>

		<script src="https://maps.googleapis.com/maps/api/js?key=<%=API%>&libraries=places"></script>
	</body>
</html>