<!DOCTYPE html>
<html>
	<head>
		<% include ../partials/head.ejs %>
		<script src="/app.js" charset="utf-8"></script>
	</head>
	<body>
		<% include ../partials/nav.ejs %>

		<div class="container">
			<input type="text" id="autocomplete" placeholder="Enter City Here">
			<div id="map"></div>
		</div>

		<div class="tooltip">
			<div id="info-content">
				<table>
					<tr>
						<td id="locName"></td>
					</tr>
					<tr>
						<td>Address:</td>
						<td id="address"></td>
					</tr>
				</table>
			</div>
		</div>

		<script src="https://maps.googleapis.com/maps/api/js?key=<%=API%>&libraries=places"></script>
		<script type="text/javascript">
			initMap()
		</script>
	</body>
</html>