<!DOCTYPE html>
<html>
	<head>
		<% include ../partials/head.ejs %>
		<script src="/app.js" charset="utf-8"></script>
	</head>
	<body>
		<% include ../partials/nav.ejs %>
		
		<div class="row container">
			<h4>Enter Data Here</h4>
			<form action="/main" method="POST">
				<div class="col s12 m12 l6">
					Odometer:<input type="text" name="odometer" placeholder="0.000.00">
					Fuel Type: 					
						<div class="input-field">
							<select name="type">
								<option value="Low">Low</option>
								<option value="Regular">Regular</option>
								<option value="Mid">Mid</option>
								<option value="High">High</option>
								<option value="Premium">Premium</option>
								<option value="Super Premium">Super Premium</option>
							</select>
						</div>
					Gallons: <input type="text" name="gallons" placeholder="00.00">
					Cost/Gal: <input type="text" name="pergal" placeholder="$00.00">
				</div>
				<div class="col s12 m12 l6">
					Total Cost: <input type="text" name="total" placeholder="$00.00">
					Brand: 
						<div class="input-field">						
							<select name="brand">
								<option value="Shell">Shell</option>
								<option value="Chevron">Chevron</option>
								<option value="Valero">Valero</option>
								<option value="Texaco">Texaco</option>
								<option value="ARCO">ARCO</option>
								<option value="76">76</option>
								<% Brands.forEach((ele) => { %>
									<option value="<%=ele%>"><%=ele%></option>
								<% }) %>
							</select>
						</div>
					Location: <input type="text" name="location" placeholder="--">
					Date: <input type="text" name="date" placeholder="YYYY-MM-DD">
				</div>
				<button type="submit" class="btn waves-effect waves-light left">Submit <i class="material-icons right">publish</i></button>
			</form>
		</div>
	</body>
</html>