<!DOCTYPE html>
<html>
	<head>
		<% include ../partials/head.ejs %>
		<script src="/app.js" charset="utf-8"></script>
	</head>
	<body>
		<nav>
			<div class="nav-wrapper teal lighten-2">
				<a href="#" onclick="sidebar()" class="sidenav-trigger show-on-large" data-target="slide_out"><i class="material-icons">menu</i></a>
				<div class="container center-align">
					<a href="/main" class="brand-logo right">Fuel Tracker</a>
				</div>
			</div>
			<ul class="sidenav" id="slide_out">
				<div class="teal lighten-2 gasIconContainer">
					<i class="material-icons gasIcon">local_gas_station</i>
				</div>
				<div class="sideNavButtonContainer">
					<li class="active sideNavButton"><a href="/main"><i class="material-icons">home</i>Home</a></li>
					<li class="active sideNavButton"><a href="/users/<%=currentUser.username%>"><i class="material-icons">account_box</i>Profile</a></li>
					<li class="active sideNavButton"><a href="/main/new"><i class="material-icons">add</i>New Data</a></li>
					<li class="active sideNavButton"><a href="#"><i class="material-icons">map</i>Maps</a></li>
					<form class="logout" action="/users?_method=DELETE" method="POST">
						<li class="active sideNavButton"><a href="#" onclick="logout()"><i class="material-icons">cancel</i>Log Out</a></li>
					</form>
				</div>
			</ul>
		</nav>
		<br>
		<div class="row container login">
			<div class="col l1">
				
			</div>
			<div class="col l4 s12">
				<h4>Login Here</h4>
				<p class="wrong red-text"><%=PassMessage%></p>
				<form action="/users/login" method="POST">
					Username: <input type="text" name="username" placeholder="username">
					Password: <input type="password" name="password">
					<button type="submit" class="btn waves-effect waves-light">Login <i class="material-icons right">publish</i></button>
				</form>
			</div>
			<div class="col l1">
				<br>
				<div class="middleBar">
					
				</div>
				<br>
			</div>
			<div class="col l4 s12">
				<h4>Sign Up Here</h3>
				<p class="wrong red-text"><%=UserMessage%></p>
				<p class="wrong red-text"><%=MissMessage%></p>
				<form action="/users" method="POST">
					Username: <input type="text" name="username" placeholder="username">
					Password: <input type="password" name="password">
					<button type="submit" class="btn waves-effect waves-light">Sign Up<i class="material-icons right">publish</i></button>
				</form>
			</div>
			<div class="col l1">
				
			</div>
		</div>
	</body>
</html>
