/*/////////////////////////*/
/*////////Body////////////*/
/*///////////////////////*/

body {
	background-color: lightgrey;	
	font-family: "Oswald", sans-serif;
}

/*/////////////////////////*/
/*////////INDEX///////////*/
/*///////////////////////*/

.info {
	margin-top: 3%;
	background-color: white;
	border: 1.5px solid black;
	border-radius: 3px;
}

/*/////////////////////////*/
/*////////SIDENAV/////////*/
/*///////////////////////*/

.sidenav {
	width: 80vw;
}

@media (min-width: 993px) {

	.sidenav {
		width: 15vw;
	}

	.gasIconContainer {
		height: 8.6vh;
	}

	.gasIcon {
		margin-left: 2%;
	}

	.sideNavButtonContainer {
		margin: 1%;
	}

	.sideNavButton {
		margin: 1%;
	}
}

/*/////////////////////////*/
/*////////LOGIN///////////*/
/*///////////////////////*/



@media (min-width: 993px){

	.login {
		margin: 0 auto;
		text-align: center;
	}

	.wrong {
		font-size: .8em
	}

	.middleBar {
		margin: 0 auto;
		width: 0px;
		height: 40vh;
		border-left: 2px solid gray;
	}
}

/*/////////////////////////*/
/*////////CHARTS//////////*/
/*///////////////////////*/

path{
	stroke: teal;
	fill: none;
	stroke-width: 2;
}

line {
	stroke: teal;
}

.arc { 
	transition: all .4s ease-in-out; 
}
.arc:hover { 
	transform: scale(1.05);
}
